.title-container{
    margin-top: 50px;
    white-space: nowrap;
    text-align: center;
}
.title-text{
    font-size: 24px;
    font-weight: bold;
}
.list_table{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 30px;
}
.list_header,
.list_results{
    padding: 8px;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}
.list_header{
    text-align: middle;
    vertical-align: middle;
    border: 1px solid #bfbfbf;
    background-color: gainsboro;
    font-size: 14px;
    color: dimgray;
}
#userid{
    width: 50px;
}
#password{
    width: 100px;
}
#kanriflg{
    width: 20px;
}
#del{
    width: 40px;
}

.urlstyle{
    text-align: middle;
}

.list_results{
    /* width: 400px; */
    border: 1px solid #bfbfbf;
    background-color: #fefefe;
    font-size: 14px;
    color: dimgray;
    word-break: break-all;
}
.starrate{
    width: 100px;
}